name: CI
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version:
        - '3.7'
        - '3.8'
        - '3.9'
        - '3.10'
        - '3.11.0-alpha - 3.11'
        - pypy3.7
        - pypy3.8
        - pypy3.9
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        persist-credentials: false
        submodules: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update # || sudo apt-get update
        # sudo apt-get upgrade -y
        sudo apt-get install -y openjdk-8-jdk-headless
        sudo apt-get remove -y adoptopenjdk-8-hotspot adoptopenjdk-11-hotspot
        sudo apt-get install -y apksigner
        python3 -m pip install --upgrade pip
        python3 -m pip install flake8 pylint
    - name: Install mypy
      run: python3 -m pip install mypy
      continue-on-error:
        ${{ contains(matrix.python-version, 'alpha') ||
            contains(matrix.python-version, 'pypy') }}
    - name: Install
      run: make install
    - name: Test & lint
      run: make test-cli lint
    - name: Extra lint
      run: make lint-extra
      continue-on-error:
        ${{ contains(matrix.python-version, 'alpha') ||
            contains(matrix.python-version, 'pypy') }}
    - name: Cache NewPipe build
      uses: actions/cache@v2
      with:
        path: |
          app-release-unsigned-zipflinger.apk
          app-release-unsigned.apk
        key: v0.21.0-20210615
    - name: Cache NewPipe downloads
      uses: actions/cache@v2
      with:
        path: |
          NewPipe_v0.21.0.apk
          org.schabi.newpipe_966.apk
        key: v0.21.0-20210615
    - name: Build NewPipe
      run: |
        set -x
        if [ ! -e app-release-unsigned.apk ]; then
          unset JAVA_HOME
          git clone -b v0.21.0 https://github.com/TeamNewPipe/NewPipe.git
          cd NewPipe
          ./gradlew assembleRelease
          mv app/build/outputs/apk/release/app-release-unsigned.apk \
            ../app-release-unsigned-zipflinger.apk
          printf '\nandroid.useNewApkCreator=false\n' >> gradle.properties
          ./gradlew clean
          ./gradlew assembleRelease
          mv app/build/outputs/apk/release/app-release-unsigned.apk ../
          cd ..
        fi
    - name: Copy APK
      run: |
        set -x
        cp app-release-unsigned.apk signed.apk
        cp app-release-unsigned.apk signed-v1.apk
        cp app-release-unsigned.apk signed-jarsigner.apk
        cp app-release-unsigned-zipflinger.apk signed-zipflinger.apk
        cp app-release-unsigned-zipflinger.apk signed-zipflinger-v1.apk
    - name: Generate dummy keystore & sign APKs
      run: |
        set -x
        keytool -genkey -keystore ci-ks -alias dummy -keyalg RSA \
          -keysize 4096 -sigalg SHA512withRSA -validity 10000 \
          -storepass dummy-password -dname CN=dummy
        apksigner sign -v --ks ci-ks --ks-key-alias dummy \
          --ks-pass pass:dummy-password signed.apk
        apksigner sign -v --ks ci-ks --ks-key-alias dummy \
          --ks-pass pass:dummy-password \
          --v2-signing-enabled=false --v3-signing-enabled=false signed-v1.apk
        PASS=dummy-password jarsigner -keystore ci-ks -storepass:env PASS \
          -sigalg SHA256withRSA -digestalg SHA-256 signed-jarsigner.apk dummy
        apksigner sign -v --ks ci-ks --ks-key-alias dummy \
          --ks-pass pass:dummy-password signed-zipflinger.apk
        apksigner sign -v --ks ci-ks --ks-key-alias dummy \
          --ks-pass pass:dummy-password \
          --v2-signing-enabled=false --v3-signing-enabled=false signed-zipflinger-v1.apk
    - name: Copy signatures
      run: |
        set -x
        mkdir meta meta-zipflinger
        apksigcopier extract signed.apk meta
        apksigcopier extract signed-zipflinger.apk meta-zipflinger
        ls -hlA meta meta-zipflinger
        apksigcopier patch meta app-release-unsigned.apk patched.apk
        apksigcopier copy signed.apk app-release-unsigned.apk copied.apk
        apksigcopier copy --v1-only=auto signed-v1.apk \
          app-release-unsigned.apk copied-v1.apk
        apksigcopier copy --v1-only=yes signed-jarsigner.apk \
          app-release-unsigned.apk copied-jarsigner.apk
        apksigcopier patch meta-zipflinger \
          app-release-unsigned-zipflinger.apk patched-zipflinger.apk
        apksigcopier copy signed-zipflinger.apk \
          app-release-unsigned-zipflinger.apk copied-zipflinger.apk
        apksigcopier copy --v1-only=auto signed-zipflinger-v1.apk \
          app-release-unsigned-zipflinger.apk copied-zipflinger-v1.apk
    - name: Compare APKs
      run: |
        set -x
        sha512sum *.apk | sort
        cmp signed.apk patched.apk
        cmp signed.apk copied.apk
        cmp signed-v1.apk copied-v1.apk
        cmp signed-jarsigner.apk copied-jarsigner.apk || true
        cmp signed-zipflinger.apk patched-zipflinger.apk
        cmp signed-zipflinger.apk copied-zipflinger.apk
        cmp signed-zipflinger-v1.apk copied-zipflinger-v1.apk
    - name: Verify APKs
      run: |
        set -x
        for apk in signed*.apk patched*.apk copied*.apk; do
          apksigner verify -v --print-certs "$apk" | grep -v ^WARNING:
        done
    - name: Download & verify F-Droid & upstream APKs
      run: |
        set -x
        [ -e NewPipe_v0.21.0.apk ] || wget -O NewPipe_v0.21.0.apk -- \
          https://github.com/TeamNewPipe/NewPipe/releases/download/v0.21.0/NewPipe_v0.21.0.apk
        [ -e org.schabi.newpipe_966.apk ] || wget -O org.schabi.newpipe_966.apk -- \
          https://web.archive.org/web/20210618174010/https://f-droid.org/archive/org.schabi.newpipe_966.apk
        for apk in NewPipe_v0.21.0.apk org.schabi.newpipe_966.apk; do
          apksigner verify -v --print-certs "$apk" | grep -v ^WARNING:
        done
    # FIXME: not actually RB :(
    - name: apksigcopier compare
      run: |
        set -x
        apksigcopier compare NewPipe_v0.21.0.apk org.schabi.newpipe_966.apk
        apksigcopier compare NewPipe_v0.21.0.apk signed-zipflinger.apk || true
        apksigcopier compare NewPipe_v0.21.0.apk \
          --unsigned app-release-unsigned-zipflinger.apk || true
    - name: test APKs
      run: make test-apks
